<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default .Lang }}">
    {{ partial "head.html" . -}}

    <body class="kind-is-{{ .Kind }}">
        {{- partial "header.html" . -}}
        <div class="site-wrapper">
            <section class="site-title {{ with .Params.feature }}responsive-title-img{{ else }}no-image{{ end }}">
                <div class="container">
                    {{ if eq .Kind "home" -}}
                    <div class="hero-content">
                        <h1 class="site-name">{{ .Site.Title }}</h1>
                        {{ with .Site.Params.description }}
                        <h2 class="site-description">{{ . }}</h2>
                        {{ end -}}
                    </div>
                    {{ end -}}

                    <div class="hero-search{{ if ne .Kind "home" }} full-width{{ end }}">
                        {{ if ne .Layout "search" -}}
                        {{- partial "search.html" . -}}
                        {{ end -}}
                    </div>
                </div>
            </section>

            {{- block "main" . }}{{ end -}}

            {{- partial "footer.html" . -}}
        </div>

        {{- partial "scripts.html" . -}}
    </body>
</html>
