{{ define "main" }}
<main id="site-main">
    <div class="container">
        {{- partial "breadcrumbs.html" . -}}

        {{ if not .Content }}
        <div class="post-list-header">
            <h1 class="post-list-header-title">
                {{- if eq .Type "tags" -}}
                {{- T (print "title." .Title) | default (.LinkTitle | humanize | title) -}}
                {{- else -}}
                {{ T (print "title." .Title) | default .Title }}
                {{- end -}}
            </h1>
            <h2 class="post-list-header-description">
                {{ .Description | default (T (print "aCollectionOf." .Title) (len .Pages)) | default (T "aCollectionOf" (len .Pages))  }}
            </h2>
        </div>
        {{ else }}
        <div class="post-list-content">
        {{- partial "post-content.html" $ -}}
        </div>
        {{- end }}

        <div class="post-list">
            {{ range .Paginator.Pages }}
            <article {{ with .File }}id="article-{{ .UniqueID }}" {{end}}class="post-card">
                <a href=" {{ .RelPermalink }}" class="post-card-link">
                    <header class="post-card-header">
                        <h3 class="post-card-title">{{ .Title }}</h3>
                    </header>

                    <div class="post-card-content">
                        {{ $summary := default ((trim (.Summary | plainify) " \t\n\r") | htmlUnescape) -}}
                        {{ if $summary | and .Truncated | and (not (strings.HasSuffix $summary "." | or (strings.HasSuffix $summary "。"))) -}}
                        {{ $summary = print $summary "…" }}
                        {{ end -}}
                        <p>{{ $summary | default (truncate 240 "…" (.Content | plainify)) }}</p>
                    </div>

                    <footer class="post-card-footer post-meta">
                        {{- partial "lastmod-time.html" (dict "Page" . "showReadingTime" true) -}}
                    </footer>
                </a>
            </article>
            {{ end }}
        </div>
    </div>
</main>

{{ end }}
