{{- $title := $.Scratch.Get "title" }}
<nav class="breadcrumbs">
  <ol class="breadcrumbs-items">
    {{ with .Parent }}
    {{ template "breadcrumb-item" . }}
    {{ end }}
    {{ range .Params.breadcrumbAncestors }}
    {{ with $.GetPage . }}
    <li class="breadcrumb-item"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
    {{ end }}
    <li class="breadcrumb-item">{{ $title }}</li>
  </ol>
  {{ define "breadcrumb-item" }}
  {{ with .Parent }}
  {{ template "breadcrumb-item" . }}
  {{ end }}
  {{ if .IsHome }}
  <li class="breadcrumb-item"><a href="{{ "/" | relLangURL }}">{{ T "home" }}</a></li>
  {{ else }}
  <li class="breadcrumb-item"><a href="{{ .RelPermalink }}">{{ T (print "title." .Title) | default .Title }}</a></li>
  {{ end }}
  {{ end }}

  {{ if and .IsPage (or .IsTranslated (and (ne .Layout "search") (ne .Params.share false))) -}}
  <ul class="social-links">
      {{ if and (ne .Layout "search") (ne .Params.share false) -}}
      {{ $title := $.Scratch.Get "title" }}
      <li class="social-link tippy" id="edit-button" style="display: none" data-tippy-content="Edit">
          <a href="obsidian://open?vault=Brain&file=%C2%A7%20{{ $title }}" aria-label="{{ T "shareViaEmail" }}">
              <i aria-hidden="true" class="fas fa-edit"></i>
          </a>
      </li>
      <li class="social-link tippy" data-tippy-content="{{ T "shareViaEmail" }}">
          <a href="mailto:?subject={{ $title }}&body={{ .Permalink }}" aria-label="{{ T "shareViaEmail" }}">
              <i aria-hidden="true" class="fas fa-envelope"></i>
          </a>
      </li>
      <li class="social-link tippy" data-tippy-content="{{ T "printThisPage" }}">
          <a href="javascript:;" class="print-page" aria-label="{{ T "printThisPage" }}">
              <i aria-hidden="true" class="fas fa-print"></i>
          </a>
      </li>
      {{ end -}}
      {{ if .IsTranslated }}
      {{ range .Translations }}
      <li class="social-link tippy" data-tippy-content="{{ T (print "translatedTo." .Lang) | default .Language.LanguageName | default .Language }}">
          <a rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">
              {{ T (print "langCode." .Lang) | default (.Lang | title) }}
          </a>
      </li>
      {{ end }}
      {{ end }}
  </ul>
  {{ else }}
  {{ with .OutputFormats.Get "RSS" }}
  <ul class="social-links">
      {{ if $.IsTranslated }}
      {{ range $.Translations }}
      <li class="social-link tippy" data-tippy-content="{{ T (print "translatedTo." .Lang) | default .Language.LanguageName | default .Language }}">
          <a rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">
              {{ T (print "langCode." .Lang) | default (.Lang | title) }}
          </a>
      </li>
      {{ end }}
      {{ end }}
      <li class="social-link"><a href="{{ .RelPermalink }}" class="tippy" aria-label="{{ T "subscribe" }} {{ $title }}" data-tippy-content="{{ T "subscribe" }} {{ $title }}"><i aria-hidden="true" class="fas fa-rss"></i></a></li>
  </ul>
  {{ end }}
  {{ end }}
</nav>
