<footer class="site-footer">
    <div class="container">
        <div class="copyright">
            <p>&copy; {{ now.Format "2006" }} &nbsp;&bull;&nbsp; {{ .Site.Title }} {{ with .Site.Copyright }}&nbsp;&bull;&nbsp; {{ . | safeHTML }}{{ end }}</p>
            {{ with .Site.Params.beian -}}
            <p><a target="_blank" rel="noopener noreferrer" href="http://www.beian.miit.gov.cn/" style="font-size: 90%; text-decoration:none; color:#939393;">{{ . }}</a></p>
            {{ end -}}
        </div>

        <nav class="social-links">
          <ul>
              {{ range .Site.Menus.social -}}
              <li class="social-link"><a href="{{ .URL }}" class="tippy" aria-label="{{ .Name }}" data-tippy-content="{{ .Name }}">{{ .Pre }}</a></li>
              {{ end -}}
              {{ with .Site.Author.social.github -}}
              <li class="social-link"><a href="https://github.com/{{ . }}" class="tippy" aria-label="{{ . }} on GitHub" data-tippy-content="{{ . }} on GitHub"><i aria-hidden="true" class="fab fa-github"></i></a></li>
              {{ end -}}
              {{ with .Site.Author.social.vimeo -}}
              <li class="social-link"><a href="https://vimeo.com/{{ . }}" class="tippy" aria-label="{{ . }} on Vimeo" data-tippy-content="{{ . }} on Vimeo"><i aria-hidden="true" class="fab fa-vimeo"></i></a></li>
              {{ end -}}
              {{ with .Site.Author.social.twitter -}}
              <li class="social-link"><a href="https://twitter.com/{{ . }}" class="tippy" aria-label="@{{ . }} on Twitter" data-tippy-content="@{{ . }} on Twitter"><i aria-hidden="true" class="fab fa-twitter"></i></a></li>
              {{ end -}}
              {{ with .Site.Author.social.diigo -}}
              <li class="social-link"><a href="https://www.diigo.com/profile/{{ . }}" class="tippy" aria-label="{{ . }} on Diigo" data-tippy-content="{{ . }} on Diigo"><i aria-hidden="true" class="fas fa-bookmark"></i></a></li>
              {{ end -}}
              <li class="social-link"><a href="{{ "index.xml" | relLangURL }}" class="tippy" aria-label="{{ T "subscribe" }} {{ $.Site.Title }}" data-tippy-content="{{ T "subscribe" }} {{ $.Site.Title }}"><i aria-hidden="true" class="fas fa-rss"></i></a></li>
          </ul>
        </nav>
    </div>
</footer>
