<header class="site-header">
    <nav class="site-nav container">
        <a href="{{ "/" | relLangURL }}" class="site-logo">
            {{ with $.Site.Params.logo -}}
            <img src="{{ . }}" alt="{{ $.Site.Title }}" />
            {{ else -}}
            {{ if ne .Kind "home" -}}
            <span class="site-name">{{ .Site.Title }}</span>
            {{ end -}}
            {{ end -}}
        </a>
        <span class="nav-toggle" aria-describedby="site-main-menu">{{ T "menu" }} <i class="fas fa-chevron-down"></i></span>
        {{- partial "navigation.html" . -}}
    </nav>
</header>
