<head>
    {{/* Document Settings */}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{/* Base Meta */}}
    <title>
        {{- if eq .Type "tags" -}}
        {{- $.Scratch.Set "title" (T (print "title." .Title) | default (.LinkTitle | humanize | title)) -}}
        {{- else -}}
        {{ $.Scratch.Set "title" (T (print "title." .Title) | default .Title) }}
        {{- end -}}
        {{- $title := $.Scratch.Get "title" }}{{ $title -}}
    </title>

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{/* Links */}}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if ne .Kind "home" -}}
    {{- with and .Page.IsNode .Paginator  -}}
    {{- with .Prev -}}
    <link rel="prev" href="{{ .URL }}">
    {{- end -}}
    {{- with .Next -}}
    <link rel="next" href="{{ .URL }}">
    {{ end -}}
    {{ end -}}
    {{ end -}}
    {{ with .OutputFormats.Get "RSS" }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType .Permalink $title | safeHTML }}
    {{ end }}

    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="https://cse.google.com">
    <link rel="preload" href="{{ "css/styles.min-e89b69540938fe1a3de6ac2919b54509.css" | relURL }}" as="style">

    {{/* Rich Meta */}}
    {{ with .Site.Params.Author.name -}}
    <meta name="author" content="{{ . }}">
    {{ end -}}
    {{ $summary := default ((trim (.Summary | plainify) " \t\n\r") | htmlUnescape) -}}
    {{ if $summary | and .Truncated | and (not (strings.HasSuffix $summary "." | or (strings.HasSuffix $summary "。"))) -}}
    {{ $summary = print $summary "…" }}
    {{ end -}}
    {{ $.Scratch.Set "summary" $summary -}}
    {{ with .Description | default $summary }}<meta name="description" content="{{.}}">{{ end }}
    {{ partial "keywords.html" . -}}
    {{- partial "twitter_og_cards.html" . -}}

    {{/* Icons */}}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relURL }}">
    <link rel="manifest" href="{{ "/site.webmanifest" | relURL }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ "/ms-icon-150x150.png" | relURL }}">
    <meta name="theme-color" content="#ffffff">

    {{/* Stylesheets */}}
    <link rel="stylesheet" href="{{ "css/styles.min-e89b69540938fe1a3de6ac2919b54509.css" | relURL }}">
    {{ if eq .Params.katex true -}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.css" integrity="sha384-WcoG4HRXMzYzfCgiyfrySxx90XSl2rxY5mnVY5TwtWE6KLrArNKn0T/mOgNL0Mmi" crossorigin="anonymous" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.css" integrity="sha384-WcoG4HRXMzYzfCgiyfrySxx90XSl2rxY5mnVY5TwtWE6KLrArNKn0T/mOgNL0Mmi" crossorigin="anonymous"></noscript>
    {{ end -}}

</head>
