<header class="site-header">
    <nav class="site-nav container">
        <a href="{{ "/" | relLangURL }}" class="site-logo" aria-label="{{ .Site.Title }} — {{ T "home" }}">
            {{ with $.Site.Params.logo -}}
            <img src="{{ . }}" alt="{{ $.Site.Title }}" />
            {{ else -}}
            {{ if ne .Kind "home" -}}
            <span class="site-name">{{ .Site.Params.shortTitle | default .Site.Title }}</span>
            {{ end -}}
            {{ end -}}
        </a>
        <button type="button" class="nav-toggle" aria-controls="site-main-menu" aria-expanded="false">{{ T "menu" }} <i aria-hidden="true" class="fas fa-chevron-down"></i></button>
        {{- partial "navigation.html" . -}}
    </nav>
</header>
