<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.js" integrity="sha384-J+9dG2KMoiR9hqcFao0IBLwxt6zpcyN68IgwzsCSkbreXUjmNVRhPFTssqdSGjwQ" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    $(".post-content code.language-katex").each(function() {
      var $this = $(this);
      var wrapper = $('<div class="math-display"></div>').html($this.text());
      $this.parent().replaceWith(wrapper);
    });
    $(".post-content code").each(function() {
      var $this = $(this);
      var inner = $this.html();
      if (inner.length > 2 && inner.startsWith('$') && inner.endsWith('$')) {
        $this.replaceWith($('<span class="math-inline"></span>').html(inner));
      }
    });
    renderMathInElement(document.getElementById("main-content"), {
      delimiters: [
        { left: "\\[", right: "\\]", display: true },
        { left: "$$", right: "$$", display: true },
        { left: "$", right: "$", display: false },
      ]
    });
  });
</script>
