<div class="site-inner">
    <article>
        <header class="post-header">
            <h1 class="post-title">{{ T (print "title." .Title) | default .Title }}</h1>
            <div class="post-header-meta">
                <span class="tippy" data-tippy-content="{{ T "wordCount" .WordCount }}">{{ .ReadingTime }} {{ T "minRead" }}</span>
                {{ if .IsTranslated }}
                <span aria-hidden="true">&bull;</span>
                <span>{{ T "availableIn" }} {{ range $index, $translation := .Translations }}{{ if $index }}, {{ end }}<a rel="alternate" href="{{ $translation.RelPermalink }}" hreflang="{{ $translation.Lang }}">{{ $translation.Language.Label | default ($translation.Lang | title) }}</a>{{ end }}</span>
                {{ end }}
            </div>
            {{- partial "post-tags" . -}}
            {{- partial "series-position" . -}}
        </header>

        <section id="main-content" class="post-content">
            {{ if .Params.toc }}
            <details class="toc-wrapper" open>
                <summary>
                    <i class="fas fa-chevron-right"></i>
                    Table of Contents
                </summary>
                {{.TableOfContents}}
            </details>
            {{ end }}

            {{ .Content }}
        </section>

        <footer class="post-card-footer post-meta">
            {{- partial "author-list" . -}}
            {{- partial "lastmod-time.html" (dict "Page" . "showPublished" true) -}}
        </footer>
    </article>
</div>
