<script type="text/javascript">
    window.themeConfig = {
        {{ with .Site.Params.disqusUsername -}}
        disqusUsername: '{{.}}',
        {{ end -}}
        gcse: '{{ .Site.Params.gcse }}',
        searchHint: '{{ T "searchHint" }}',
        searchMore: '{{ T "searchMore" }}',
        searchMoreEmpty: '{{ T "searchMoreEmpty" }}',
        isSearchPage: {{ if eq .Layout "search" }}true{{ else }}false{{ end }}
    };
    {{ with .Site.Params.disqusBaseURL }}{{ if ne . $.Site.BaseURL -}}
    window.disqus_config = function () {
        this.page.url = '{{ . | safeHTML }}{{ $.RelPermalink }}';
        this.page.identifier = this.page.url;
    };
    {{ end }}{{ end -}}
</script>
<script type="text/javascript" src="{{ "js/scripts.min-513e338889da31f3c7dc122aff49850c.js" | relURL }}" data-autoloader-path="{{ "js/components/" | relURL }} "></script>
{{ if eq .Params.katex true -}}
{{- partial "katex.html" . -}}
{{ end -}}
{{ if eq .Layout "search" -}}
<script async src="https://cse.google.com/cse.js?cx={{ .Site.Params.gcse }}"></script>
{{ end -}}
