{{- $current := . -}}
{{- with .Params.series -}}
    {{- $seriesName := index . 0 -}}
    {{- $url := urls.Parse ($seriesName | urlize) -}}
    {{- with $current.Site.GetPage (printf "/series/%s" $url.Path) -}}
        {{- $pages := .Pages.ByDate -}}
        {{- $position := 0 -}}
        {{- range $index, $page := $pages -}}
            {{- if eq $page.RelPermalink $current.RelPermalink -}}
                {{- $position = add $index 1 -}}
            {{- end -}}
        {{- end -}}
        {{- if gt $position 0 }}
<p class="series-position">
    <a href="{{ .RelPermalink }}">{{ T "partOfSeries" (dict "Position" $position "Count" (len $pages) "Series" ($seriesName | humanize | title)) }}</a>
</p>
        {{- end -}}
    {{- end -}}
{{- end -}}
