{{- $title := $.Scratch.Get "title" -}}
{{- $summary := $.Scratch.Get "summary" -}}
{{- $description := .Description | default $summary -}}
<!-- Twitter Cards -->
<meta name="twitter:title" content="{{ $title }}">
{{ with .Site.Author.social.twitter -}}
<meta name="twitter:creator" content="{{ . }}">
{{ end -}}
{{ with $description -}}
<meta name="twitter:description" content="{{.}}">
{{ end -}}
{{ with .Params.feature -}}
{{ $feature := $.Resources.GetMatch . -}}
{{ $m := $feature.Resize "600x" -}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ $m.Permalink }}">
{{ end -}}

<!-- Open Graph -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{ $title }}">
{{ with $description -}}
<meta property="og:description" content="{{.}}">
{{ end -}}
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:locale" content="{{ .Lang }}">
{{ with .Params.feature -}}
{{ $feature := $.Resources.GetMatch . -}}
{{ $m := $feature.Resize "600x" -}}
<meta property="og:image" content="{{ $m.Permalink }}">
{{ end -}}
<meta property="og:updated_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">
