{{ define "main" }}
<main id="site-main" class="container">
    <div class="tag-list">
        {{ $sections := $.Sections -}}
        {{ if $.Site.Params.mainSections }}
            {{ $sections = where $.Sections "Section" "in" $.Site.Params.mainSections -}}
            {{ $sections = $sections | append (where $.Sections "Section" "not in" $.Site.Params.mainSections) -}}
        {{ end }}
        {{ range $sections -}}
            {{ $amount := 7 }}
            {{ with index $.Site.Params.listing .Section }}
                {{ $amount = . }}
            {{ end }}
        <article id="section-{{ .Section }}" class="tag-card">
            <div class="tag-card-inner">
                <h3 class="tag-card-title"><a href="{{ .RelPermalink }}">{{ T (print "title." .Title) | default .Title }}</a></h3>

                <div class="tag-card-content">
                    <ul>
                        {{ range first $amount .Pages -}}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                        {{ end -}}
                    </ul>
                </div>

                <a href="{{ .RelPermalink }}" class="tag-card-read-more">
                    {{ if gt (len .Pages) 0 -}}
                    {{ T "readMore" (len .Pages) }} →
                    {{ else -}}
                    {{ T "readMoreEmpty" }}
                    {{ end -}}
                </a>
            </div>
        </article>
        {{ end -}}
    </div>
</main>

{{ if .Site.IsMultiLingual -}}
<section class="language-list">
    <div class="container">
        <ul class="languages-list">
            <li><i class="fas fa-globe"></i></li>
            {{ range .Sites }}
            <li{{ if eq .Language.Lang $.Lang }} class="nav-current"{{ end }}>
                <a rel="alternate" href="{{ .Home.RelPermalink }}" hreflang="{{ .Language.Lang }}" lang="{{ .Language.Lang }}">
                    {{ .Language.LanguageName | default .Language.Lang }}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</section>
{{ end -}}
{{ end -}}
