<figure class="kg-card kg-bookmark-card">
    <a href="{{ .Get "href" }}" class="kg-bookmark-container">
        <div class="kg-bookmark-content">
            <div class="kg-bookmark-title">{{ .Get "title" }}</div>
            {{ with .Get "description" }}
            <div class="kg-bookmark-description">{{ .| markdownify }}</div>
            {{ end }}
            <div class="kg-bookmark-metadata">
                {{- with .Get "avatar" }}
                {{- $src := . }}
                {{- if or (in $src "://") (hasPrefix $src "/") -}}
                <img src="{{ $src }}" class="kg-bookmark-icon">
                {{- else }}
                {{- $img := $.Page.Resources.GetMatch $src -}}
                <img src="{{ $img.RelPermalink }}" class="kg-bookmark-icon">
                {{- end }}
                {{- end }}

                {{- with .Get "author" }}
                <span class="kg-bookmark-author">{{.}}</span>
                {{- end }}
                {{- with .Get "publisher" }}
                <span class="kg-bookmark-publisher">{{.}}</span>
                {{- end }}
            </div>
        </div>
        {{- with .Get "thumbnail" }}
        <div class="kg-bookmark-thumbnail">
            {{- $src := . }}
            {{- if or (in $src "://") (hasPrefix $src "/") -}}
            <img src="{{ $src }}">
            {{- else }}
            {{- $img := $.Page.Resources.GetMatch $src -}}
            <img src="{{ $img.RelPermalink }}">
            {{- end }}
        </div>
        {{- end }}
    </a>
</figure> 
