{{ $src := .Get "src" -}}
{{ $basename := path.Base $src -}}
{{ $basename = substr $basename 0 (sub (len $basename) (len (path.Ext $basename))) -}}
{{ $attrsBlacklist := slice "src" "kg-width" "alt" -}}
{{ $loading := .Get "loading" | default "lazy" -}}
<img alt="{{ .Get "alt" | default ($basename | title) }}" loading="{{ $loading }}" {{ if or (in $src "://") (hasPrefix $src "/") -}}

src="{{ $src }}"

{{- else -}}

{{- $srcParts := split $src "?" }}
{{- $img := $.Page.Resources.GetMatch (index $srcParts 0) -}}
{{- with (index $srcParts 1) -}}
    {{- range $pair := split . "&" -}}
        {{- $kv := split . "=" -}}
        {{- if eq (index $kv 0) "resize" }}{{ $img = $img.Resize (index $kv 1) }}{{ end -}}
        {{- if eq (index $kv 0) "fit" }}{{ $img = $img.Fit (index $kv 1) }}{{ end -}}
        {{- if eq (index $kv 0) "fill" }}{{ $img = $img.FIll (index $kv 1) }}{{ end -}}
    {{- end -}}
{{- end -}}

{{- $breakpoints := slice 400 800 1200 1600 2000 -}}
{{- $srcsetParts := slice -}}
{{- range $breakpoints -}}
    {{- if gt $img.Width . -}}
        {{- $resized := $img.Resize (print . "x") -}}
        {{- $srcsetParts = $srcsetParts | append (print $resized.RelPermalink " " . "w") -}}
    {{- end -}}
{{- end -}}
{{- $srcsetParts = $srcsetParts | append (print $img.RelPermalink " " $img.Width "w") -}}

src="{{ $img.RelPermalink }}"
{{- if gt (len $srcsetParts) 1 -}}
srcset="{{ delimit $srcsetParts ", " }}"
{{- if ge $img.Width 2000 }}
sizes="(max-width: 2000px) 100vw, {{ $img.Width }}px"
{{- else if ge $img.Width 1600 }}
sizes="(max-width: 1600px) 100vw, {{ $img.Width }}px"
{{- else if ge $img.Width 1200 }}
sizes="(max-width: 1200px) 100vw, {{ $img.Width }}px"
{{- else if ge $img.Width 800 }}
sizes="(max-width: 800px) 100vw, {{ $img.Width }}px"
{{- else if ge $img.Width 400 }}
sizes="(max-width: 400px) 100vw, {{ $img.Width }}px"
{{- else }}
sizes="{{ $img.Width }}px"
{{- end }}
{{- end }}

{{- end }}{{ range $k, $v := .Params -}}
{{- if not (in $attrsBlacklist $k) }} {{$k}}="{{$v}}"{{ end -}}
{{ end }} />
