{{ $src := .Get "src" -}}
{{ $basename := path.Base $src -}}
{{ $basename = substr $basename 0 (sub (len $basename) (len (path.Ext $basename))) -}}
{{ $attrsBlacklist := slice "src" "kg-width" "alt" -}}
<img alt="{{ .Get "alt" | default ($basename | title) }}" {{ if or (in $src "://") (hasPrefix $src "/") -}}

src="{{ $src }}"

{{- else -}}

{{- $srcParts := split $src "?" }}
{{- $img := $.Page.Resources.GetMatch (index $srcParts 0) -}}
{{- with (index $srcParts 1) -}}
    {{- range $pair := split . "&" -}}
        {{- $kv := split . "=" -}}
        {{- if eq (index $kv 0) "resize" }}{{ $img = $img.Resize (index $kv 1) }}{{ end -}}
        {{- if eq (index $kv 0) "fit" }}{{ $img = $img.Fit (index $kv 1) }}{{ end -}}
        {{- if eq (index $kv 0) "fill" }}{{ $img = $img.FIll (index $kv 1) }}{{ end -}}
    {{- end -}}
{{- end -}}

src="{{ $img.RelPermalink }}"

{{- if gt $img.Width 600 }} 
	{{- $thumb := $img.Fit "600x600" }}
	srcset="{{ $thumb.RelPermalink }} 600w, {{ $img.RelPermalink }} {{ $img.Width }}w"
	sizes="(max-width: 600px) 600px, {{ $img.Width }}px"
{{- end -}}

{{- end }}{{ range $k, $v := .Params -}}
{{- if not (in $attrsBlacklist $k) }} {{$k}}="{{$v}}"{{ end -}}
{{ end }} />
