{{ $src := .Get "src" -}}
{{ $basename := path.Base $src -}}
{{ $basename = substr $basename 0 (sub (len $basename) (len (path.Ext $basename))) -}}
{{ $attrsBlacklist := slice "src" "kg-width" "alt" -}}
{{ $loading := .Get "loading" | default "lazy" -}}
{{ if or (in $src "://") (hasPrefix $src "/") -}}
<img alt="{{ .Get "alt" | default ($basename | title) }}" loading="{{ $loading }}" src="{{ $src }}"{{ range $k, $v := .Params -}}
{{- if not (in $attrsBlacklist $k) }} {{$k}}="{{$v}}"{{ end -}}
{{ end }} />
{{- else -}}

{{- $srcParts := split $src "?" }}
{{- $img := $.Page.Resources.GetMatch (index $srcParts 0) -}}
{{- $queryParams := index $srcParts 1 | default "" -}}

{{- /* Process image */ -}}
{{- $processed := partial "image-process.html" (dict "img" $img "queryParams" $queryParams) -}}
{{- $img = $processed.img -}}

{{- /* Generate srcset and sizes */ -}}
{{- $srcsetData := partial "image-srcset.html" (dict "img" $img) -}}
{{- $srcsetParts := $srcsetData.srcsetParts -}}
{{- $sizesAttr := $srcsetData.sizesAttr -}}

{{- /* Build extra attributes dict */ -}}
{{- $extraAttrs := dict -}}
{{- range $k, $v := .Params -}}
    {{- if not (in $attrsBlacklist $k) -}}
        {{- $extraAttrs = merge $extraAttrs (dict $k $v) -}}
    {{- end -}}
{{- end -}}

{{- /* Render image */ -}}
{{- $imgClass := "img-inline" -}}
{{- if $class := .Get "class" -}}
    {{- $imgClass = print $imgClass " " $class -}}
{{- end -}}
{{- partial "image-render.html" (dict "img" $img "srcsetParts" $srcsetParts "sizesAttr" $sizesAttr "alt" (.Get "alt" | default ($basename | title)) "loading" $loading "class" $imgClass "extraAttrs" $extraAttrs) -}}

{{- end }}
